<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/greenearth?useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.query.substitutions">true 'Y', false 'N'</property>
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <mapping class="com.greenearth.bo.domain.City"/>
        <mapping class="com.greenearth.bo.domain.District"/>
        <mapping class="com.greenearth.bo.domain.Customer"/>
        <mapping class="com.greenearth.bo.domain.DeductionReason"/>
        <mapping class="com.greenearth.bo.domain.PointsType"/>
        <mapping class="com.greenearth.bo.domain.RecycleStation"/>
        <mapping class="com.greenearth.bo.domain.InventoryType"/>
        <mapping class="com.greenearth.bo.domain.PointsEarned"/>
        <mapping class="com.greenearth.bo.domain.PointsDeducted"/>
        <mapping class="com.greenearth.bo.domain.InventoryLog"/>
        <mapping class="com.greenearth.bo.domain.Inventory"/>
        <mapping class="com.greenearth.bo.domain.PointRule"/>
        <mapping class="com.greenearth.bo.domain.DeductionRule"/>
        <mapping class="com.greenearth.bo.domain.SellRecord"/>
        <mapping class="com.greenearth.bo.domain.Partner"/>
        <mapping class="com.greenearth.bo.domain.Menu"/>
        <mapping class="com.greenearth.bo.domain.Role"/>
        <mapping class="com.greenearth.bo.domain.User"/>
        <mapping class="com.greenearth.bo.domain.CustomerPoint"/>
    </session-factory>
</hibernate-configuration>
